body {
    width: 100%;
    background-color: bisque;
    
    }
    .jumbHead {
        background-image: url("../img/newspapers.jpg");
        border-radius: 20px;
        align-content: center;
        border-color: #1220eecc;
        border: 30px;
        
    }
    h1{
        background: #1220eecc;
        font-family: 'Vast Shadow', cursive;
        text-align: center;
        border-radius: 10px;
        color: aliceblue;
    }